.card-product{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px !important;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px !important;
}

.product-detail {
    position: relative !important;
}

.product-detail-price {
    font-size: 32px;
    line-height: 1.2;
}

.product-detail-price__original {
    font-size: 12px;
    line-height: 1.4;
    float: left;
    text-decoration: line-through;
    color: #999;
}

.product-detail-price__reduced  {
    display: block;
    float: left;
    clear: both;
    font-weight: bold;
    color: #FA591D;
}

.product-detail-stok__info {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.4;
    float: left;
    color: #000;
}

/* Slide Images Product */
.image-gallery-svg {
    width: 30px !important;
    height: 60px !important;
}