.carousel-mobile {
    width: 100%;
    max-width: 768px;
    margin: 0px auto;
}

.carousel ul li a {
    height: 100%;
    width: 100%;
    display: inline-block;
}

ul.control-dots {
    padding-left: 0px;
}