.card-product-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.card-product-row-title h5{
    color: rgba(0,0,0,0.7);
    font-weight: 500;
    line-height: 19px;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
}
.card-product-row-title a{
    color: rgba(15, 255, 95, 0.7);
    font-weight: 600;
    line-height: 19px;
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .card-product-row {
        padding: 0 1.74%;
    }
}


@media screen and (min-width: 992px) and (max-width: 1199px){
    .card-product-row {
        padding: 0 2.25%;
    }
}

.card-product-mobile.card-product-row {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    min-width: 100%;
    overflow-x: scroll;
    padding-bottom: 16px;
}

.card-product-mobile  .card-product-wrapper:last-child {
    margin-right: 16px;
}

.card-product-mobile .card-product-wrapper:first-child {
    margin-left: 16px;
}

.card-product-wrapper {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0 0.8% 3%;
    width: 20%;
    min-width: 222px;
}

.card-product-wrapper.all {
    min-width: 165px;
}

.card-product-mobile .card-product-wrapper {
    padding: 0 0.8% 3%;
    width: 30%;
    margin: 0 1.6%;
    min-width: 142px;
}

.card-product-wrapper a:hover {
    text-decoration: none;
}

.card-product-container {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 342px;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.1);
}

.card-product-container.all {
    height: 272px;
}

.card-product-mobile .card-product-container {
    height: 260px;
}

.card-product-title {
    color: rgba(0,0,0,0.7);
    display: -webkit-box;
    max-height: 38px;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
}

.card-product-mobile .card-product-title {
    font-size: 12px;
    font-weight: 600;
}

.card-product-price {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    color: #FA591D;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 22px;
}

.card-product-mobile .card-product-title {
    font-size: 12px;
}

