.navbar.navbar-light {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px;
}

.nav-link.nav-link-icon {
    color: #9f9fa2 !important;
}


.nav-link.nav-link-icon:hover {
    color: #343A40 !important;
}

.navbar.navbar-light .btn-secondary {
    border-color: #d7d7d8;
    background-color: #d7d7d8;
}

.img-user-topbar {
    width: 25px;
    height: 25px;
    border-radius: 22px;
}

.username-topbar {
    padding: 8px;
    text-overflow: ellipsis;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    white-space: nowrap;
}

.user-topbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 98%;
    height: 36px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 2px;
    padding: 5px 0 0 6px;
}

.nav-mobile {
    z-index: 1;
    width: 100%;
    max-width: 768px;
    background-color: transparent;
    margin: 0px auto;
    transition: background-color 0.24s ease 0s;
    padding: 6px 8px;
    box-shadow: rgba(0, 0, 0, 0) 0px 1px 3px 0px !important;
    -moz-box-shadow: rgba(0, 0, 0, 0) 0px 1px 3px 0px !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 1px 3px 0px !important;
}

.nav-mobile.nav-mobile-onscroll {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px !important;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px !important;
}

.nav-mobile-onscroll a.text-white {
    color: #818284 !important;
}

.nav-mobile-onscroll .form-control{
    background-color: #d7d7d8;
    color: #818284;
}

.nav-link.nav-link-icon.relative {
    position: relative;
}

.badge-shopping-cart {
    position: absolute;
    top: 2px;
    border-radius: 50%;
    font-weight: 500;
    font-size: 65%;
    width: 20px;
    height: 20px;
    right: -8px;
    border: 2px solid #fff;
}

/* Dropdown */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    top: -8px;
    position: absolute;
}

.nav-item.dropdown:hover > .nav-link {
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: white;
    color: #343A40 !important;
}

.nav-item.dropdown .dropdown-menu{
    display: none;
    padding: 8px 12px;
    background-color: white;
    top: 90%;
    border: none;
}

.nav-item.dropdown .dropdown-menu.dropdown-menu-kategori{
    width: 73vw;
    border-top-left-radius: 0;
}

.nav-item.dropdown .dropdown-toggle::after {
    content: none !important;
}

.nav-item.dropdown:hover > .dropdown-menu {
    display: block;
    animation: fade-in .4s;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.3);
}

.nav-item.dropdown:not(:hover) > .dropdown-menu {
    display: none;
    animation: fade-out .4s;
}

.dropdown-menu-kategori {
    max-height: 70vh;
}

.dropdown-menu-kategori .col-kategori-group,
.dropdown-menu-kategori .col-kategori-list {
    max-height: 58vh;
    overflow-y: auto;
}

.col-kategori-group .list-group-item {
    padding: 0.50rem 1.25rem;
    background-color: #fff;
    border: none;
    font-size: 12px;
    font-weight: 600;
}

.col-kategori-group .list-group-item > a {
    color: #343A40;
}

.col-kategori-group .list-group-item:hover {
    background-color: #f5f2f2;
    border-radius: 2px;
    border: none;
    cursor: pointer !important;
}

.col-kategori-group .list-group-item.active {
    background-color: #f5f2f2;
    border-radius: 2px;
    border: none;
}

.col-kategori-group .list-group-item:hover > a {
    text-decoration: none;
}

.display-block {
    display: block !important;
}

.display-none {
    display: none !important;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


@keyframes slide-down {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@keyframes slide-up {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}