body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-mobile, .component-mobile {
  width: 100%;
  max-width: 768px;
  margin: 0px auto;
}

.container-mobile {
  position: absolute;
  top: 0;
  padding: 0;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/* Font size */
.font-12 {
  font-size: 12px;
}

/* Button */
button:disabled {
  cursor: default !important;
}
