.breadcrumb {
    background-color: #ffffff;
    margin-left: 0;
    padding: 0 16px 0 0;
}

.breadcrumb li a, .breadcrumb li.active {
    font-size: 12px;
    font-weight: 600;
}

.breadcrumb li.active {
    line-height: 2;
}

.breadcrumb-item a{
    color: rgb(66, 181, 73);
}

.breadcrumb-category .breadcrumb-item a{
    color: #212529;
}

.breadcrumb-item a:hover{
    text-decoration: none;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .3rem;
    color: #6c757d;
    content: ">";
}


.breadcrumb-category .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .3rem;
    color: #6c757d;
    content: "/";
}